body {
background-color: #808080; 

h1 {
color: white; text-align: center; font-family: Verdana; font-size: 50px; padding: 1em; border-bottom: 8px solid black; margin: auto; margin-bottom: 20px;
      }
	    
p {
line-height: 150%; color: white; font-family: Verdana; margin: auto; text-align:center; font-size:25px; border: 8px solid black; background-color:gray; padding: 2em
      }
	    
nav {
border: 8px solid black; background-color:gray; line-height: 200%; margin-bottom: 20px;
	    }
      
footer {
border-top: 8px solid black; margin-left: 400px; margin-right: 400px;
	    }
      
